<label>New content</label><br>
<textarea [(ngModel)]='helperText' cols="200" rows="10"></textarea>
<br>
<label>Location</label><br>
<input type="radio" [(ngModel)]='newLocation' name="location" value='end'>end<br>
<input type="radio" [(ngModel)]='newLocation' name="location" value='beggining'>beggining<br>
<input type="radio" [(ngModel)]='newLocation' name="location" value='cursor'>cursor<br>
<br><br>
<label>Cursor</label><br>
<input type="radio" [(ngModel)]='cursorPosition' name="cursor" value='contentEnd'>Content End<br>
<input type="radio" [(ngModel)]='cursorPosition' name="cursor" value='contentStart'>Content Start<br>
<input type="radio" [(ngModel)]='cursorPosition' name="cursor" value='offset'>offset at
<input type="number" [(ngModel)]="offset">
<br>
<input type="radio" [(ngModel)]='cursorPosition' name="cursor" value='none'>None<br>

<button (click)="go(editor)">Go!</button><br>

<br>
<label>Utils</label><br>
<button (click)="cleanUp()">Reset Content</button><br>
<button (click)="replaceAll(editor)">Replace Content</button><br>
<br>
<button (click)="lorem()">Lorem Ipsum</button><br>

<br><br><br><br>
<hr>
<br>
<kendo-editor #editor [(ngModel)]="twoWayContent" style="height: 370px;"></kendo-editor>

<br>
<label>Raw binding value</label><br>
<textarea [(ngModel)]='twoWayContent' cols="200" rows="10"></textarea>
